.heading{
    text-align: center;
    background-image: linear-gradient(to right, rgb(25, 25, 133), blue);
    color: white;
    padding-bottom: 10px;
}

#main {
    display: inline-block;
    position: relative;
    top:-145px;
    left:25%;
    width:75%;
    
}

#main-card{
    width:100%;
}

#search{
    display: inline-block;
    position: relative;
    top:10px;
    width:25%
}

#city{
    width:100%;
    border-radius: 5px;
    padding-bottom: 10px;
}

#button{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#button-addon2{
    width:100%;
    text-align: center;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

#history{
    width:100%;
    border-radius: 5px;
    padding-top: 10px;
}

#forecast{
    position: relative;
    top:-145px;
    left:25%;
    width:75%;
    width: fit-content;
    block-size: fit-content;  

}

#day{
    display: inline-block;   
    
}

#day2{
    display: inline-block;
    
}

#day3{
    display: inline-block;
    
}

#day4{
    display: inline-block;
    
}

#day5{
    display: inline-block;
    
}

.list-group-list-group-flush{   
    
}

.list-group-item{
    border:none; 
}

.card{    
     
}  

.card-header{
    background-color: white;
    border-bottom: none;
}